/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-dark-white: #bdbdbd;
  --color-light-grey: #7c7979;
  --color-light-beige: #ece3d446;
  --color-beige: #d4c4a788;
  --color-medium-beige: #cbbca0; /*Navbar*/
  --color-dark-beige: #afa186;
  --color-brown: #90794b;
  --color-dark-brown: #756238;
  --color-orange: #cfbe8e;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;

  /* Font Size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-regular: 400;
  --weight-bold: 700;
  --whight-extra-bold: 800;

  /* Size */
  --size-border-radius: 4px;

  /* Animation */
  --animation-duration: 300ms;
}

body {
  font-family: 'Nanum Myeongjo', sans-serif;
  margin: 0;
  cursor: default;
}

a {
  text-decoration: none;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--whight-extra-bold);
  color: var(--color-dark-brown);
  margin: 16px 0;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* Navbar */
#navbar {
  position: fixed;
  top: 0; /*navbar 상단에 여백이 생겨서 추가(초기값 지정)*/
  width: 100%;
  display: flex;
  color: var(--color-dark-beige);
  background-color: transparent;
  transition: all var(--animation-duration) ease-in-out;
  z-index: 1;
}

#navbar.navbar--dark {
  color: var(--color-white);
  background-color: var(--color-medium-beige);
}

.navbar__menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.navbar__logo {
  padding-left: 14px;
}

.navbar__menu-right {
  display: flex;
  margin: 1px 24px 2px auto;
}

.navabr__menu__item-right {
  padding: 0 12px;
  cursor: pointer;
}

.navbar__menu-center {
  display: flex;
  margin: 24px 0 2px 0;
}

.navbar__menu__item-center {
  padding: 0 24px;
  cursor: pointer;
}

.navabr__menu__item-right:hover {
  font-style: oblique;
  color: var(--color-dark-brown);
}

.navbar__menu__item-center:hover {
  font-style: oblique;
  color: var(--color-dark-brown);
}

.navbar__toggle-btn {
  position: absolute;
  font-size: 24px;
  color: var(--color-white);
  display: none;
}

/* Home */
.home__image {
  padding-top: 100px;
  width: 100%;
  height: 100%;
}

.home__container {
  text-align: center;
}

.home__title {
  color: var(--color-dark-brown);
  margin: 32px 0;
  padding-top: 20px;
}

.home__description {
  color: var(--color-brown);
  line-height: 1.5em;
  margin-bottom: 54px;
}

/* Section Common */
.section {
  padding: 50px;
  text-align: center;
  margin: auto;
}

.section__container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

/* New Item */
#new-item {
  background-color: var(--color-light-beige);
}

#new-item h2 {
  color: var(--color-orange);
  padding-top: 10px;
}

.new__item__images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.new__item__image {
  padding: 24px 12px;
}

.new__item__image h3 {
  text-align: start;
  padding: 8px 0;
}

.new__item__discription {
  text-align: start;
  padding-bottom: 12px;
}

.new__item__sale-price {
  font-weight: var(--whight-extra-bold);
}

.new__item__sale {
  color: var(--color-dark-pink);
  font-size: 17px;
}

.new__item__cost-price {
  color: var(--color-light-grey);
  font-size: var(--font-micro);
}

.more__item h3 {
  padding: 8px;
  margin-top: 52px;
  border: 2px solid var(--color-dark-beige);
  color: var(--color-dark-beige);
}

.more__item h3:hover {
  background-color: var(--color-dark-beige);
  color: var(--color-white);
}

/* Best Item */
.best__categories {
  margin: 30px;
  padding-top: 24px;
}

.category__btn {
  background-color: var(--color-beige);
  color: var(--color-brown);
  border-radius: 12px;
  font-size: var(--font-small);
  margin: 0 4px;
  padding: 8px 20px;
  position: relative;
}

.category__btn.selected,
.category__btn:hover {
  background-color: var(--color-dark-beige);
  color: var(--color-white);
  font-style: oblique;
}

.best__contents {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 1;
  transition: all var(--animation-duration) ease-out;
}

.best__contents.anim-out {
  opacity: 0;
  transform: scale(0.96) translateY(40px);
}

.best__item {
  position: relative;
  justify-content: center;
}

.best__item.invisible {
  display: none;
}

.best__item__image {
  padding: 8px 12px;
}

.best__item h3 {
  text-align: start;
  padding: 8px 13px;
  margin: auto;
}

.best__item p {
  text-align: start;
  padding: 0 13px;
  font-weight: var(--whight-extra-bold);
  font-size: var(--font-small);
}

/* Customer Center */
#customer {
  display: flex;
  justify-content: center;
  background-color: var(--color-light-beige);
  padding: 30px;
}

.customer__phone,
.customer__bank {
  padding: 0 48px;
}

.customer__phone i,
.customer__bank i {
  font-size: 27px;
  color: var(--color-dark-brown);
}

.customer__phone h3 {
  font-size: 22px;
  padding: 12px;
  margin-top: 12px;
  color: var(--color-dark-beige);
}

.customer__phone p {
  text-align: start;
  line-height: 1.5em;
  font-size: 15px;
  margin: auto;
}

.customer__bank p {
  padding-top: 32px;
  text-align: start;
  line-height: 1.5em;
  font-size: 15px;
  margin: auto;
}

/* Licensee */
#licensee {
  background-color: var(--color-medium-beige);
  width: 100%;
  margin: auto;
  padding: 24px 0;
}

.sns__icon {
  font-size: var(--font-medium);
  padding-bottom: 24px;
  color: var(--color-brown);
  cursor: pointer;
}

.sns__icon i {
  padding: 0 24px;
}

.sns__icon i:hover {
  color: var(--color-white);
}

#licensee p {
  color: var(--color-white);
  font-size: 14px;
}

/* Arrow */
.arrow__up {
  position: fixed;
  bottom: 350px;
  right: 25px;
  width: 40px;
  height: 40px;
  font-size: 30px;
  background-color: var(--color-dark-beige);
  color: var(--color-white);
  opacity: 0;
  pointer-events: none;
  transition: all 300ms ease-in;
}

.arrow__down {
  position: fixed;
  bottom: 300px;
  right: 25px;
  width: 40px;
  height: 40px;
  font-size: 30px;
  background-color: var(--color-dark-beige);
  color: var(--color-white);
  opacity: 0;
  pointer-events: none;
  transition: all 300ms ease-in;
}

.arrow__up.visible,
.arrow__down.visible {
  opacity: 1;
  pointer-events: auto;
}

/* For below 768px screen width */
@media screen and (max-width: 768px) {
  :root {
    /* Font Size */
    --font-large: 30px;
    --font-medium: 20px;
    --font-regular: 16px;
    --font-small: 14px;
    --font-micro: 12px;
  }

  .navbar__logo {
    display: none;
  }

  #navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar__toggle-btn {
    display: block;
    top: 15px;
    padding-left: 24px;
    font-size: 25px;
    color: var(--color-white);
    z-index: 1;
  }

  .navbar__menu {
    text-align: center;
    width: 100%;
    background-color: var(--color-medium-beige);
  }

  .navabr__menu__item-right {
    padding: 18px 14px 18px 0;
    color: var(--color-white);
  }

  .navabr__menu__item-right:hover {
    font-style: oblique;
    color: var(--color-dark-brown);
  }

  .navbar__menu-center {
    display: contents;
    flex-direction: column;
    padding: 0 12px;
    display: none;
    color: var(--color-white);
    margin: 8px auto;
  }

  .navbar__menu__item-center {
    padding: 6px 0;
  }

  .navbar__menu-center.open {
    display: block;
  }

  .home__image {
    padding-top: 55px;
  }

  .home__description {
    padding: 0 24px;
    font-size: 14px;
  }

  .section {
    padding: 16px;
    padding-top: 40px;
  }

  .best__categories {
    margin: 4px;
    padding: 20px 4px;
  }

  .category__btn {
    margin: 0 2px;
    padding: 8px 8px;
    font-size: 13px;
  }

  #customer {
    padding: 15px 0;
    justify-content: space-between;
  }

  .customer__phone,
  .customer__bank {
    padding: 0;
  }

  .customer__phone h3 {
    padding: 8px 0;
    font-size: 18px;
  }

  .customer__phone i,
  .customer__bank i {
    font-size: 27px;
  }

  .customer__phone p,
  .customer__bank p {
    font-size: 9.5px;
  }

  #licensee {
    padding: 20px 0;
  }

  .sns__icon {
    font-size: 27px;
  }

  .sns__icon i {
    padding: 0 24px;
  }

  #licensee p {
    color: var(--color-white);
    font-size: 12px;
  }

  .arrow__up {
    bottom: 80px;
    right: 25px;
  }

  .arrow__down {
    bottom: 30px;
    right: 25px;
  }
}
