/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-dark-white: #bdbdbd;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-light-beige: #ece3d446;
  --color-beige: #d4c4a788;
  --color-medium-beige: #cbbca0; /*Navbar*/
  --color-dark-beige: #afa186;
  --color-brown: #90794b;
  --color-dark-brown: #756238;
  --color-orange: #cfbe8e;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;

  /* Font Size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-regular: 400;
  --weight-bold: 700;
  --whight-extra-bold: 800;

  /* Size */
  --size-border-radius: 4px;

  /* Animation */
  --animation-duration: 300ms;
}

body {
  font-family: 'Nanum Myeongjo', sans-serif;
  margin: 0;
  cursor: default;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--whight-extra-bold);
  color: var(--color-dark-brown);
  margin: 16px 0;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* Navbar */
#navbar {
  position: fixed;
  top: 0; /*navbar 상단에 여백이 생겨서 추가(초기값 지정)*/
  width: 100%;
  display: flex;
  background-color: var(--color-medium-beige);
}

.navbar__menu {
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 0;
  z-index: 1;
}

.navbar__logo {
  padding-left: 12px;
}

.navbar__menu-right {
  display: flex;
  margin: 1px 24px 2px auto;
}

.navabr__menu__item-right {
  padding: 0 12px;
  cursor: pointer;
}

.navbar__menu-center {
  display: flex;
  margin: 24px 0 2px 0;
}

.navbar__menu__item-center {
  padding: 0 24px;
  cursor: pointer;
}

.navabr__menu__item-right:hover {
  font-style: oblique;
  color: var(--color-dark-brown);
}

.navbar__menu__item-center:hover {
  font-style: oblique;
  color: var(--color-dark-brown);
}

.navbar__toggle-btn {
  position: absolute;
  top: 70px;
  right: 15px;
  font-size: 24px;
  color: var(--color-white);
  display: none;
}

/* Home */
.home__image {
  padding-top: 100px;
  width: 100%;
  height: 100%;
}

.home__container {
  text-align: center;
}

.home__title {
  color: var(--color-dark-brown);
  margin: 32px 0;
  padding-top: 20px;
}

.home__description {
  color: var(--color-brown);
  line-height: 1.5em;
  margin-bottom: 54px;
}

/* Section Common */
.section {
  padding: 50px;
  text-align: center;
  margin: auto;
}

.section__container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

/* New Item */
#new-item {
  background-color: var(--color-light-beige);
}

#new-item h2 {
  color: var(--color-orange);
  padding-top: 10px;
}

.new__item__images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 16px;
}

.new__item__image {
  padding: 24px 12px;
}

.new__item__image h3 {
  text-align: start;
  padding: 8px 0;
}

.new__item__discription {
  text-align: start;
  padding-bottom: 12px;
}

.new__item__sale-price {
  font-weight: var(--whight-extra-bold);
}

.new__item__sale {
  color: var(--color-dark-pink);
  font-size: 17px;
}

.new__item__cost-price {
  color: var(--color-light-grey);
  font-size: var(--font-micro);
}

.more__item h3 {
  padding: 8px;
  margin-top: 52px;
  border: 2px solid var(--color-dark-beige);
  color: var(--color-dark-beige);
}

/* Best Item */
.best__categories {
  margin: 30px;
  padding-top: 24px;
}

.category__btn {
  background-color: var(--color-beige);
  color: var(--color-brown);
  border-radius: 12px;
  font-size: var(--font-small);
  margin: 0 4px;
  padding: 8px 20px;
  position: relative;
}

.category__btn.active,
.category__btn:hover {
  background-color: var(--color-dark-beige);
  color: var(--color-white);
  font-style: oblique;
}

.best__contents {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.best__item__image {
  padding: 24px 12px;
}

.best__item__image h3 {
  text-align: start;
  padding: 8px 0;
}

.best__item__image p {
  text-align: start;
  font-weight: var(--whight-extra-bold);
  font-size: var(--font-small);
}
